.connectContent {
  width: 40%;
}

.connectContentTitle {
  font-size: 32px;
  margin-bottom: 10px;
}

.connectContentDesc {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 170%;
  max-width: 450px;
}

.socials {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.socials span {
  font-size: 18px;
  line-height: 170%;
  margin-right: 10px;
}

.socials a {
  position: relative;
  background-color: #f2ede7;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.socials a svg {
  position: relative;
  z-index: 50;
}

.socials a::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  scale: 0;
  transition: 0.5s;
  background-color: #605c53;
  border-radius: 50%;
}

.socials a:hover::before {
  scale: 1;
}

.socials a:hover svg path {
  fill: white;
}

/* .responseImage {
  width: 453px;
  height: 260px;
} */

@media screen and (max-width: 1024px) {
  .connectContent {
    width: 100%;
  }

  .responseImage {
    width: 100%;
    height: 100%;
  }
}
