.contactFormContainer {
  padding: 50px 200px 100px 200px;
  margin: 0 auto;
  background-color: #f9f7f4;
}

.contactForm {
  width: 60%;
}

.contactFormContent {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 70px;

  margin-bottom: 150px;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.inputGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.inputGroup input {
  outline: none;
}

.inputLabel {
  color: black !important;
}

.inputLabel.Mui-focused {
  color: black !important;
}

.inputField {
  border: none;
  outline: none;
}

.inputField:before,
.inputField:after {
  border-bottom: 1px solid black !important;
}

.inputField:hover:before,
.inputField:hover:after,
.inputField:focus:before,
.inputField:focus:after {
  border-bottom: 1px solid black !important;
}

.textAreaField {
  width: 100%;
}

.contactFormTitle {
  font-size: 44px;
  margin-bottom: 60px;
  font-weight: 700;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonBox button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000;
  border-radius: 40px;
  padding: 10px 34px;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  transition:
    border-color 0.3s,
    background-color 0.3s,
    color 0.3s;
}

.buttonBox button:hover {
  border-color: #605c53;
  background-color: #605c53;
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .contactFormContainer {
    padding: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .contactForm {
    width: 100%;
  }

  .contactFormContainer {
    padding: 20px;
  }

  .contactFormContent {
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 630px) {
  .buttonBox {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .inputGroup {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .contactForm form {
    gap: 30px;
  }
}
