.story-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 2rem;
  margin-top: 4rem;
}

.our-story {
  // width: 100%;
  .about-container {
    // max-width: 1336px;
    // margin: auto;
    // padding: 0 20px 0 20px;
    img {
      margin-right: 10px;
    }
    h5 {
      color: $darkgrey;
      text-transform: uppercase;
    }
  }

  .main-title {
    color: $black;
    font-size: 1.8em;
    margin-top: 2rem;
  }

  .story-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    margin-bottom: 10rem;

    div {
      flex: 1;
      padding: 20px;
      img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
      p {
        color: $darkgrey;
        margin-bottom: 20px;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          svg {
            color: $black;
            margin-right: 10px;
          }
          color: $darkgrey;
        }
      }
    }
  }
}
